{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Startup HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' $}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header_area header-transparent">
            <div class="main-header">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                  <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/">الصفحة الرئيسية</a></li>
                                            
                                            {% if user.is_authenticated %}  
                                            <li><a href="{% url 'user_logout' %}">تسجيل الخروج</a></li>
                                            
                                            {% else %}  
                                            <li><a href="{% url 'login' %}">تسجيل الدخول </a></li>
                                            <li><a href="{% url 'user_singup' %}">تسجيل</a></li>
                                           {% endif %}
                                            
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <a href="#" class="btn header-btn">راسلنا الان</a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

 {% block content %}

 {% endblock  %}
 
 <footer>
  <!-- Footer Start-->
  <div class="footer-area">
      <div class="container">
         <div class="footer-top footer-padding">
              <div class="row justify-content-between">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                          <div class="single-footer-caption mb-30">
                              <!-- logo -->
                              <div class="footer-logo">
                                  <a href="index.html"><img src="{% static 'assets/img/logo/logo2_footer.png' %}" alt=""></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Services</h4>
                              <ul>
                                  <li><a href="#">Marketing</a></li>
                                  <li><a href="#"> SEO Service</a></li>
                                  <li><a href="#">Digital market</a></li>
                                  <li><a href="#">Content create</a></li>
                                  <li><a href="#">Find Us</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Customer Care</h4>
                              <ul>
                                  <li><a href="#">Contact Us</a></li>
                                  <li><a href="#">About Us</a></li>
                                  <li><a href="#">News & Articles</a></li>
                                  <li><a href="#">Privacy Policy</a></li>
                                  <li><a href="#"> Terms of Use</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4><span>+564</span> 7885 3222</h4>
                              <ul>
                                  <li><a href="#">youremail@gmail.com</a></li>
                              </ul>
                              <p>123 East 26th Street, Fifth Floor, New York, NY 10011</p>
                          </div>
                          <!-- footer social -->
                          <div class="footer-social">
                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fas fa-globe"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
         </div>
          <div class="footer-bottom">
              <div class="row">
                  <div class="col-xl-12 ">
                     
                  </div>
              </div>
         </div>
      </div>
  </div>
  <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top" >
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>


<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
  <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
  <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
  <script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/animated.headline.js' %}"></script>
  <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Nice-select, sticky -->
  <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
  
  <!-- contact js -->
  <script src="{% static 'assets/js/contact.js' %}"></script>
  <script src="{% static 'assets/js/jquery.form.js' %}"></script>
  <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'assets/js/mail-script.js' %}"></script>
  <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
  
<!-- Jquery Plugins, main Jquery -->	
  <script src="{% static 'assets/js/plugins.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  
</body>
</html>